body {
	background-image: url(../images/grid.jpg);
	font-family: 'Open Sans'
}

#footer	{
	background-color: black ; 
	Color: #aaaaaa;
	padding-top: 3em;
	padding-bottom: 3em;

}

#footer a {
	color: #aaaaaa
}

#footer a:hover {
	#dddddd
}

.social {
	font-size: 24px;
}

#wrapper {
	background-image: url("../images/happybackground.jpg");
	height: 550px;
	background-size: cover;
	text-align: center;
	padding-top: 150px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

#wrapper H1 {
	font-size: 40px;
}

#wrapper H2 {
	font-size: 20px;
	margin-bottom: 2.3em;
}

.spacer {
	height: 8em;
}



.feature {
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 20px;
}

.services {
	font-size: 14px;
	margin: 1em;
	margin-top: 3em;
	letter-spacing: 2px;
}

.feature img {
	margin-bottom: 2em;
}

.navbar-transparent {
	background-color: rgba(0, 0, 0, 0.7); 
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 30px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

#comment {
	font-size: 25px;
}

.exemples {
	font-size: 12px;
}